.container {
  color: rgb(33, 78, 111);
  margin: 2px;
}

h3 {
  font-size: 19px;
  margin: 7px 40px;
  font-weight: bold;
}

h4 {
  font-size: 18px;
  margin: 7px 40px;
  font-weight: bold;
}

.stages-container {
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.stage {
  flex: 1 0 21%;
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.task-container {
  background-color: rgb(33, 78, 111);
  color: rgb(243, 243, 243);
  height: 120px;
  width: 100%;
  max-width: 300px;
  padding: 10px;
}

.task-container div {
  padding: 10px;
}

.task-container.yts {
  background-color: rgb(223, 223, 223);
  color: rgb(33, 78, 111);
  box-shadow: 0 -5px rgb(33, 78, 111) inset;
}

.stage span {
  margin: 20px;
}

.prog-circle {
  height: 30px;
  width: 30px;
  background-color: #fff;
  border: 7px solid rgb(33, 78, 111);
  border-radius: 15px;
  z-index: 1;
}

.prog-circle.yts {
  border-color: rgb(223, 223, 223);
}

hr {
  border: 0;
}

hr.progressed {
  position: absolute;
  border-top: 10px solid rgb(33, 78, 111);
  bottom: 49px;
  width: 100%;
}

hr.yts {
  border-top-color: rgb(223, 223, 223);
}

hr.inp {
  position: absolute;
  border-top: 10px solid rgb(223, 223, 223);
  bottom: 49px;
  right: 0;
  width: 35%;
}
