.container {
  padding: 28px;
  background: linear-gradient(to bottom, #204c6c 0%, #4f90c0 100%);
  color: #fff;
  width: 320px;
  height: 90vh;
  overflow-y: auto;
}

/* Scrollbar */
*::-webkit-scrollbar {
  height: 7px;
  width: 7px;
}
*::-webkit-scrollbar-track {
  background: rgba(117, 133, 132, 0.432);
  box-shadow: -1px -1px 1px rgba(128, 128, 128, 0.404);
}
*::-webkit-scrollbar-thumb {
  background-color:  rgba(33,78,111);
  border-radius: 4px;
}


.incomplete {
  color: rgba(255, 255, 255, 0.507);
}

hr {
  margin: 12px 0;
  border: 0;
  height: 0;
  border-top: 1px solid rgb(128, 155, 175);
}

.icon {
  display: flex;
  align-items: center;
}

.icon > label {
  padding: 6px 10px;
}

.stage {
  display: flex;
  align-items: center;
  padding: 18px 0 5px 0;
}

.stage span {
  margin: 0 2px 0 10px;
  font-size: 16px;
}

.task-list {
  padding-left: 22px;
  list-style-type: none;
}

.task-list li {
  margin: 6px 10px 10px 0;
  display: flex;
  align-items: center;
}

.task-list li span {
  font-size: 17px;
  margin: 0 8px;
}

.stage-list {
  list-style-type: none;
}

a {
  cursor: pointer;
}

ul {
  list-style-position: inside;
}
